{% extends 'base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Event Scheduler</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

{% comment %} {% block content %}
<header>
    <h1>Welcome to the Dynamic Event Scheduler</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <!-- More navigation items -->
        </ul>
    </nav>
</header>
{% endblock %} {% endcomment %}

</body>
</html>
